.container_about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: #FFFFFF;
  height: 100vh;
  background: url(../../assets/images/galaxy-night-panorama.jpg) center no-repeat fixed; 
  background-size:cover;
}


.container_about h1{
  color: #FFFFFF;
  font-size: 3.0em;
  display: flex;
  margin-top: 100px;
}

.about_description{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  margin-bottom: 40px;
  font-size: 17px;
}

.about_description p{
  width:500px;
  margin-bottom: 50px!important;
}

.astronaut_image{
  width:348px;
  height:450px;
}

@media only screen and (max-width: 815px ) {
  .astronaut_image{
  width:248px;
  height:350px;
  }
}

@media only screen and (max-width: 700px ) {
  .astronaut_image{
  width:198px;
  height:300px;
  }

  .about_description{
  font-size: 15px;
  }
}

@media only screen and (max-width: 510px ) {
  .astronaut_image{
  width:148px;
  height:250px;
  }

  .about_description{
  font-size: 12px;
  }
}

@media only screen and (max-width: 380px ) {
  .astronaut_image{
  width:98px;
  height:200px;
  }

  .about_description{
  font-size: 10px;
  }
}