.card{
  width: 350px;
  border: 1px solid #353535;
  padding-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card::after {
  position: absolute;
  border: 1px solid #161616;
  background-color: #000000;
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.image{
  width:250px;
  height: 250px;
  background-size: cover;
}

.container_title{
  display: flex;
  width: inherit;
  height: 50px;
  background-color: #353535;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.title{
  display: flex;
}

@media only screen and (max-width: 515px ) {
  .image{
    width: 150px;
    height: 150px;
  }

  .card{
    width:240px;
  }
}